.learn-route {
  margin: auto;
  width: 70%;
  text-align: center;
  margin-bottom: 30px;
}

.DisplayScore {
  justify-content: end;
}

.learn-route-header {
  font-size: 300%;
  font-weight: 600;
  margin: 0;
}

.correct-learning-route {
  font-size: 140%;
  font-weight: 400;
  text-align: right;
}

.learn-subtitle {
  font-size: 150%;
  margin-top: 50px;
}

.word {
  font-size: 150%;
  font-weight: 600;
  padding-bottom: 25px;
}

.DisplayFeedback {
  font-size: 22px;
}

.word-count-stats {
  margin-bottom: 15px;
  font-size: 20px;
}

.input-button {
  display: flex;
  flex-direction: column;
}

.learn-guess-input {
  font-size: 175%;
  background-color: #e6e8e6;
  color: black;
  border: none;
  border-radius: 8px;
  width: 60%;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
}

label.Label {
  font-size: 150%;
  font-weight: 600;
}

#overlay {
  outline: none;
}

#overlay.invisible {
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s;
}
