button.Button.sign-up-button {
  background-color: #16db93;
  border-color: #16db93;
  color: black;
  width: 100px;
  height: 40px;
  float: right;
  border: none;
  border-radius: 8px;
  font-size: 20px;
}

button.Button.sign-up-button:hover,
button.Button.sign-up-button:focus {
  background-color: #11a770;
  border-color: #11a770;
  color: #e6e8e6;
  width: 120px;
  height: 48px;
  float: right;
  border: none;
  border-radius: 8px;
  font-size: 20px;
}
