* {
  color: #e6e8e6;
  background: #4a3681;
}

.registration-form {
  text-align: left;
  margin: auto;
  width: 60%;
}

.label-input {
  padding-bottom: 40px;
}

.registration-input {
  float: right;
  font-size: 175%;
  background-color: #e6e8e6;
  color: black;
  border: none;
  border-radius: 8px;
}

.existing-account-link {
  text-align: right;
  font-size: 16px;
  font-weight: 600;
}

.existing-account-link:hover,
.existing-account-link:focus {
  text-align: right;
  font-size: 19.2px;
  font-weight: 600;
  color: #ff3562;
}

.registration-footer {
  display: flex;
  flex-direction: column;
}

label.Label {
  font-size: 150%;
  font-weight: 600;
}

.button-div {
  height: 50px;
}

@media all and (max-width: 600px) {
  .registration-form {
    text-align: center;
    width: auto;
  }
  .registration-input {
    float: none;
  }
}
